<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"></head>
<div style="padding: 20px;">
  <h1 style="color: blue">{{title}}</h1>
  <h3>{{description}}</h3>
  <nav>
    <a routerLink="user/user" class="btn btn-primary active" role="button" routerLinkActive="active">Users</a>
    <a routerLink="user/add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
    <a routerLink="user/findbyactive" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
    <a routerLink="category/category" class="btn btn-primary active" role="button" routerLinkActive="active">Categories</a>
    <a routerLink="category/add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
    <a routerLink="category/findbyname" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
  </nav>
  <router-outlet></router-outlet>
</div>