<!-- <div *ngIf="user">
  <div>
    <label>Name: </label> {{user.name}}
  </div>

  <span class="button is-small btn-primary"  (click)='showId()'>Chat</span> -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<body>


 
    <div *ngIf="user">
	  <div class="inbox_chat scroll">
		<div class="chat_list">
        
		  <div class="chat_people">
			<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
			<div class="chat_ib">
			  <h5>{{user.name}} </h5>
        </div>
			</div>
		  </div>
		</div>
	  </div>



</body>
